<%- include("partials/user-header") %>
<script src="/result-script.js" defer></script>
  <div class="dashboard-container">
    <div class="result-body">
      <!-- <h3> <%= recipeName %></h3> -->
      <% const recName = recipeName.split(':'); %>
      <% if (recName.length == 1) {%>
        <h3> <%= recName[0] %></h3>
      <% } else {%>
        <h3> <%= recName[1] %></h3> 
      <% }%>

      
      <div id="nutr-container" class="card-n">
        <% const nutri = nutrInfo %>
        <%const lines = nutri.split('\n');%>
  
        <%const nutArray = []%>
        <%const nonEmptyLines = lines.filter(line => line.trim() !== '');%>
      

      

        <%for (let i = 1; i < nonEmptyLines.length; i++) {%>
        <%  const trimmedLine = nonEmptyLines[i].trim();%>

        <%  const [key, value] = trimmedLine.split(':');%>
        <% lit = trimmedLine %>
        <% if (lit.substring(0,1) == '-' || lit.substring(0,1) == '*') {%>
        <% lit = lit.substring(1);%>
        <% }%>
     
        <% nutArray.push(lit)%>
        <%}%>
        <div class="card-n-content">
          <h5 style="text-align:center; margin-bottom: 3%;">Nutritional info</h5>
          <ul class="nut-list">
            <div class="container text-center">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                  <% for (let i = 0; i < nutArray.length; i++) { %>
                    <div class="col"><li><%= nutArray[i] %></li></div>
                  <% } %>
              </div>
            </div>
          </ul>
        </div>
        
      </div>
      <div class="ingr-container">
        <h5>Ingredients:</h5>
        <% const ing = ingr %>
        <%const lines2 = ing.split('\n');%>
        <ul class="ing-list">
        <% for (let i = 2; i < lines2.length; i++) { %>
          <li><%= lines2[i] %></li>
        <% } %>
        </ul>
      </div>
      <div class="step-container">
        <h5>Instructions:</h5>
        <% const step = steps %>
        <%const lines3 = step.split('\n');%>
        <ul class="ing-list">
          <% for (let i = 2; i < lines3.length; i++) { %>
            <li><%= lines3[i] %></li>
          <% } %>
          </ul>
      </div>
      
      
    </div>
  </div>
</body>
</html> 